<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <h2>Authenticate</h2>
        </div>
        <uib-tabset active="vm.active" justified=true id="authModal">
            <uib-tab index="0" heading="Sign Up">
                <div class="well">
                    <form role="form" name="signupForm" ng-submit="vm.signup()">
                        <div class="form-group">
                            <label for="register__email">Email</label>
                            <input type="email"
                                   name="email"
                                   class="form-control"
                                   id="register__email"
                                   ng-model="vm.email"
                                   placeholder=""
                                   required="required"
                            />
                            <p class="text-danger" ng-show="vm.errors['email']">
                                {$ vm.errors['email'].toString() $}
                            </p>
                        </div>

                        <div class="form-group">
                            <label for="register__username">Username</label>
                            <input type="text"
                                   name="username"
                                   class="form-control"
                                   id="register__username"
                                   ng-model="vm.username"
                                   placeholder=""
                                   required="required"
                            />
                            <p class="text-danger" ng-show="vm.errors['username']">
                                {$ vm.errors['username'].toString() $}
                            </p>
                        </div>

                        <div class="form-group">
                            <label for="register__password">Password</label>
                            <input type="password"
                                   name="password1"
                                   class="form-control"
                                   id="register__password"
                                   ng-model="vm.password1"
                                   placeholder=""
                                   required="required"
                            />
                            <p class="text-danger" ng-show="vm.errors['password1']">
                                {$ vm.errors['password1'].toString() $}
                            </p>
                        </div>

                        <div class="form-group">
                            <label for="register__password">Confirm password</label>
                            <input type="password"
                                   name="password2"
                                   class="form-control"
                                   id="register__password"
                                   ng-model="vm.password2"
                                   placeholder=""
                                   required="required"
                            />
                            <p class="text-danger" ng-show="vm.errors['password1']">
                                {$ vm.errors['password1'].toString() $}
                            </p>
                        </div>
                        <div class="form-group button-group">
                            <button type='submit'
                                    class="btn btn-primary"
                                    ng-disabled="signupForm.$invalid || (signupForm.password1.$modelValue != signupForm.password2.$modelValue)"
                                    ng-click="vm.signup()">
                                Sign Up
                            </button>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="vm.cancel()">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Sign In">
                <div class="well">
                    <form role="form" name="signinForm" ng-submit="vm.login()">
                        <div class="form-group">
                            <label for="register__username">Username</label>
                            <input type="text"
                                   class="form-control"
                                   id="register__username"
                                   ng-model="vm.username"
                                   placeholder=""
                                   required="required"
                            />
                        </div>

                        <div class="form-group">
                            <label for="register__password">Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="register__password"
                                   ng-model="vm.password"
                                   placeholder="" required="required"
                            />
                        </div>
                        <div class="form-group" ng-show="vm.non_field_errors">
                            <p class="text-danger">
                                {$ vm.non_field_errors $}
                            </p>
                        </div>
                        <div class="form-group button-group">
                            <button type='submit'
                                    class="btn btn-primary"
                                    ng-disabled="signinForm.$invalid"
                                    ng-click="vm.login()">
                                Login
                            </button>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="vm.cancel()">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>