<md-dialog aria-label="{$ 'auth.signup' | translate $}"
           flex="60"
           flex-xs="100"
           class="authDialog">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{$ 'auth.signup' | translate $}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="vm.currentTab">
                <md-tab label="{$ 'auth.signup' | translate $}" >
                    <md-content layout-padding>
                        <form role="form" name="signupForm" ng-submit="vm.login()">
                            <md-input-container class="md-block">
                                <label for="email">
                                    {$ 'auth.email' | translate $}
                                </label>
                                <input required
                                       name="email"
                                       id="email"
                                       ng-model="vm.email"
                                       type="email" >
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label for="password">
                                    {$ 'auth.password' | translate $}
                                </label>
                                <input required
                                       name="password"
                                       id="password"
                                       ng-model="vm.password"
                                       type="password">
                            </md-input-container>

                            <md-input-container class="md-block">
                                <div ng-messages="vm.errors">
                                    <div ng-message="required">
                                        {$ vm.errors.toString() $}
                                    </div>
                                </div>
                                <span flex></span>
                                <md-button ng-disabled="signupForm.$invalid || (signupForm.password1.$modelValue != signupForm.password2.$modelValue)"
                                           ng-click="vm.cancel()">
                                    {$ 'auth.cancel' | translate $}
                                </md-button>
                                <md-button ng-disabled="signupForm.$invalid || (signupForm.password1.$modelValue != signupForm.password2.$modelValue)"
                                           type="submit"
                                           ng-click="vm.signup()">
                                    {$ 'auth.signup' | translate $}
                                </md-button>

                            </md-input-container>

                        </form>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
</md-dialog>