md-card-title .editable-input {
    display: block;
    border-width: 0 0 1px;
    height: 30px;
    border-style: solid;
    width: 100%;
    font-size: 24px;
}

.editable-input:focus {
    outline: transparent;
}

md-card.association {
    height: 300px;
}

.editable-textarea {
    width: 100%;
}

.association md-card-content p, .association textarea {
    height: 4em;
}

.association textarea {
    resize: none;
    border: none;
    padding: 0;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom: solid 1px #428bca;
}