.pointer {
    cursor: pointer;
}

md-card-title .editable-input {
    display: block;
    border-width: 0 0 1px;
    height: 30px;
    border-style: solid;
    width: 100%;
    font-size: 24px;
}

.editable-input:focus {
    outline: transparent;
}

md-card.association {
    height: 300px;
}

md-card.association .md-button {
    opacity: 0;
    transition:300ms;
    color: grey;
}

md-card.association:hover .md-button {
    opacity: 1;
    transition:200ms;
}

md-card .new {
    text-align: center;
}

.editable-textarea {
    width: 100%;
}

.association md-card-content p, .association textarea {
    height: 4em;
}

.association textarea {
    resize: none;
    border: none;
    padding: 0;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom: solid 1px #428bca;
}

md-tooltip .md-content {
    height: auto;
}

.new span.add {
    font-size: 17em;
    color: #f3f3f3;
    text-align: center;
    cursor: pointer;
}

.new textarea {
    margin-top: 10px;
}

md-grid-list {
    width: 100%;
}

.league-image {
    transition: 3s;
    max-width: 100%;
    opacity: 0.2;
}

.league-add {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.img-wrapper {
    overflow:hidden;
}

*:hover > .league-image {
    transform: scale(1.2);
}

.md-list-item-hover {
    transition: 0.5s;
}

.md-list-item-hover:hover {
    background-color: rgba(0,0,0,0.05);
}