body {
    background: url(img/bgnd.png) repeat;
    margin-bottom: 50px;
}

.association {
    height: 350px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 15px;
    margin-bottom: 25px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s linear;
    background-color: rgb(250, 250, 255);
    cursor: pointer;
}

.association:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1), inset 0 0 50px rgba(255,255,255,0.5);
}

.association p {
    max-height: 75%;
}

.association .input-group {
    width: 100%;
}

.association #cancelButton {
    float: right;
}

.association .control {
    position: absolute;
    top:5px;
    right:20px;
    font-size: 130%;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    visibility: hidden;
    opacity: 0;
}

.association:hover .control {
    transition: visibility 0.3s linear, opacity 0.3s linear;
    visibility: initial;
    opacity:1;
}

.association h4 {
    word-wrap: break-word;
}

.association .glyphicon {
    padding: 0 5px;
    cursor: pointer;
}

.new {
    border-style: dashed;
    background-color: rgb(253, 253, 255);
}

.association a {
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 100px;
    line-height: 3;
}

.footer {
    position: fixed;
    background-color: #efefef;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    max-height: 60px;
}

.yt-sidebar li {
    margin: 5px 0;
}