<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                2016 Oleg Omelchenko
            </div>

            <div class="col-sm-6">
                <form>
                    <select title="language" class="form-control input-sm"
                            ng-change="vm.setLanguage()"
                            ng-model="vm.currentLanguage">
                        <option ng-repeat="lang in vm.languages" value="{$ lang.val $}">{$ lang.name $}</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</footer>