<div class="main">
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><a ui-sref="main.index">Your Tournament</a></h2>
                <span flex></span>
                <md-button ui-sref="main.profile"
                           ng-show="vm.isAuthenticated()"
                           aria-label="profile"
                           title="{$ vm.user.username $}"
                           class="md-icon-button">
                    <span class="material-icons">account_circle</span>
                </md-button>
                <md-button ng-hide="vm.isAuthenticated()"
                           ng-click="vm.openSignUp()"
                           aria-label="{$ 'auth.signup' | translate $}">
                    {$ 'auth.signup' | translate $}
                </md-button>
                <md-button ng-hide="vm.isAuthenticated()"
                           ng-click="vm.openSignIn()"
                           aria-label="{$ 'auth.signin' | translate $}">
                    {$ 'auth.signin' | translate $}
                </md-button>
                <md-button ng-show="vm.isAuthenticated()"
                           ng-click="vm.logout()"
                           aria-label="{$ 'auth.logout' | translate $}">
                    {$ 'auth.logout' | translate $}
                </md-button>
            </div>
        </md-toolbar>
    </md-content>


    <div ncy-breadcrumb></div>

    <div ui-view></div>

    <!--<footer class="footer">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-6">-->
                    <!--2016 Oleg Omelchenko-->
                <!--</div>-->

                <!--<div class="col-sm-6">-->
                    <!--<form>-->
                        <!--<select title="language" class="form-control input-sm"-->
                                <!--ng-change="vm.setLanguage()"-->
                                <!--ng-model="vm.currentLanguage">-->
                            <!--<option ng-repeat="lang in vm.languages" value="{$ lang.val $}">{$ lang.name $}</option>-->
                        <!--</select>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</footer>-->
</div>