{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Tournament</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static "build/lib.css" %}" media="all">
    <link rel="stylesheet" href="{% static "css/app.css" %}">

    <!-- Firebase -->
    <script src="{% static "bower/firebase/firebase.js" %}"></script>

    <!-- AngularJS libs. See gulpfile.js to see the full list -->
    <script src="{% static "build/lib.js" %}"></script>

    <!-- AngularJS app scripts -->
    <script src="{% static "build/yt.js" %}"></script>

    <!-- Firebase init -->
    <script>
        var config = {
            apiKey: "AIzaSyAvMwG5MarHbMvgzJg4pa9oorxKeHBuZA8",
            authDomain: "your-tournament.firebaseapp.com",
            databaseURL: "https://your-tournament.firebaseio.com",
            storageBucket: "your-tournament.appspot.com",
        };
        firebase.initializeApp(config);
    </script>

    <base href="/" />
</head>

<body ng-app="yt">
    <div ui-view></div>
</body>
</html>