{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Tournament</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="{% static "bower/angular-material/angular-material.css" %}" media="all">
    <link rel="stylesheet" href="{% static "bower/angular-material-data-table/dist/md-data-table.css" %}">
    <link rel="stylesheet" href="{% static "bower/angular-loading-bar/build/loading-bar.css" %}" media="all">
    <link rel="stylesheet" href="{% static "bower/angular-xeditable/dist/css/xeditable.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">

    <!-- Firebase -->
    <script src="{% static "bower/firebase/firebase.js" %}"></script>

    <!-- AngularJS libs. Watch gulpfile.js to see the full list -->

    <script src="{% static "app/lib.js" %}"></script>

    <!-- AngularJS app scripts -->
    <script src="{% static "app/yt.js" %}"></script>

    <base href="/" />
</head>

<body ng-app="yt">
    <div ui-view></div>
</body>
</html>