{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Tournament</title>

    <!-- Bootstrap -->
{#    <link rel="stylesheet" href="{% static "bower/bootstrap/dist/css/bootstrap.css" %}">#}
    <link rel="stylesheet" href="{% static "bower/bower-bootswatch-paper/css/paper.css" %}">
    <link rel="stylesheet" href="{% static "bower/angular-loading-bar/build/loading-bar.css" %}" media="all">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <script src="{% static "bower/jquery/dist/jquery.js" %}"></script>
    <script src="{% static "bower/bootstrap/dist/js/bootstrap.js" %}"></script>
    <!-- Material design fonts and icons -->
{#    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">#}
{#    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">#}
{#    <link rel="stylesheet" href="{% static "bower/bootstrap-material-design/dist/css/bootstrap-material-design.css" %}">#}
{#    <link rel="stylesheet" href="{% static "bower/bootstrap-material-design/dist/css/ripples.css" %}">#}
    <!-- AngularJS libs -->
    <script src="{% static "bower/angular/angular.js" %}"></script>
    <script src="{% static "bower/angular-animate/angular-animate.js" %}"></script>
    <script src="{% static "bower/angular-translate/angular-translate.js" %}"></script>
    <script src="{% static "bower/angular-translate-loader-url/angular-translate-loader-url.js" %}"></script>
    <script src="{% static "bower/angular-translate-loader-static-files/angular-translate-loader-static-files.js" %}"></script>
    <script src="{% static "bower/angular-translate-storage-local/angular-translate-storage-local.js" %}"></script>
    <script src="{% static "bower/angular-translate-storage-cookie/angular-translate-storage-cookie.js" %}"></script>
    <script src="{% static "bower/angular-translate-handler-log/angular-translate-handler-log.js" %}"></script>
    <script src="{% static "bower/ngstorage/ngStorage.js" %}"></script>
    <script src="{% static "bower/angular-cookies/angular-cookies.js" %}"></script>
    <script src="{% static "bower/angular-ui-router/release/angular-ui-router.js" %}"></script>
    <script src="{% static "bower/angular-breadcrumb/dist/angular-breadcrumb.js" %}"></script>
    <script src="{% static "bower/ng-token-auth/dist/ng-token-auth.js" %}"></script>
    <script src="{% static "bower/angular-bootstrap/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "bower/angular-loading-bar/build/loading-bar.js" %}"></script>
    <script src="{% static "bower/angular-relative-date/dist/angular-relative-date.js" %}"></script>
    <script src="{% static "bower/angular-dynamic-locale/dist/tmhDynamicLocale.js" %}"></script>

    <!-- AngularJS app scripts -->
    <script src="{% static "app/app.js" %}"></script>
    <script src="{% static "app/auth/AuthFactory.js" %}"></script>
    <script src="{% static "app/ApiFactory.js" %}"></script>
    <script src="{% static "app/auth/AuthController.js" %}"></script>
    <script src="{% static "app/MainController.js" %}"></script>
    <script src="{% static "app/association/AssociationController.js" %}"></script>
    <script src="{% static "app/association/AssociationDetailController.js" %}"></script>
    <base href="/" />
</head>

<body ng-app="yt">
    <div ui-view></div>
</body>
</html>