<md-dialog aria-label="{$ 'as.delete' | translate $}"
           flex="60"
           flex-xs="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{$ 'as.confirmDeleteHeader' | translate $}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancelDelete()">
                <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content layout-padding>
            {$ 'as.confirmDeleteText' | translate $} <strong>{$ vm.associationToDelete.name $}</strong>. <br>
            {$ 'as.confirmDeleteText2' |translate $}
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cancelDelete()" >
            {$ 'as.cancel' | translate $}
        </md-button>
        <md-button ng-click="vm.confirmDelete()">
            {$ 'as.delete' | translate $}
        </md-button>
    </md-dialog-actions>
</md-dialog>