<section layout-padding flex layout="column"
         md-swipe-left="vm.toggleSideNav()"
         md-swipe-right="vm.toggleSideNav()">
    <md-sidenav md-component-id="sidenav">
        <md-list>
            <md-subheader>
                {$ 'main.associations' | translate $}
            </md-subheader>
            <md-list-item ng-repeat="asscn in vm.all" class="item-hover" layout="column">
                <div class="md-list-item-text  pointer">
                    <h3 ui-sref="main.asscns.detail({'asscnId': asscn.$id})">{$ asscn.name $} {$ ('['+asscn.leagues.length+']') || '' $}</h3>
                </div>
                <div class="md-list-item-text" ng-repeat="league in asscn.leagues">
                    <span>{$ league.name $}</span>
                </div>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-content layout="column" layout-padding flex>

            <h3 ng-hide="vm.leagues.length">
                You don't have any leagues in your association. Let's create one!
            </h3>

        <md-grid-list md-row-height="1:1" md-gutter="10px" md-cols="4" md-cols-md="2" md-cols-sm="2" md-cols-xs="1">
            <md-grid-tile md-colspan="1" md-rowspan="1"
                          ng-repeat="league in vm.leagues">
                <md-card flex >
                    <div class="img-wrapper">
                        <a  ui-sref="main.asscns.league({'asscnId':vm.association.$id, 'leagueId': league.$id})">
                            <img src="/static/img/card_bgnd.png" class="md-card-image league-image">
                        </a>
                    </div>
                    <md-card-header>
                        <md-card-header-text>
                        <span class="md-title">
                            {$ league.name $}
                        </span>
                        </md-card-header-text>

                        <md-button class="md-icon-button" aria-label="Delete" ng-click="vm.deleteLeague(league)">
                            <md-tooltip md-direction="top" md-delay="500">
                                {$ "lg.delete" | translate $}
                            </md-tooltip>
                            <span class="material-icons">delete</span>
                        </md-button>
                    </md-card-header>
<!--
                    <md-card-content>
                        <span>
                            {$ league.description $}
                        </span>
                    </md-card-content>
                    -->
                </md-card>
            </md-grid-tile>
        </md-grid-list>

    </md-content>
    <md-button class="md-fab md-button md-primary league-add"
               ng-click="vm.addLeague($event)"
               aria-label="Add">
        <span class="material-icons">add</span>
    </md-button>
</section>