<!--
<div class="container-fluid">
    <div class="row" ng-show="vm.associationsLoaded">
        <div class="col col-xs-6 col-sm-4 col-md-3" ng-repeat="association in vm.associations">
            <div class="association" ui-sref="main.asscns.detail({'id': association.id})">
                <div class="association-info" ng-hide="vm.isEditing && (vm.editedAssociation.id == association.id)">
                    <div class="control">
                    <span class="text-muted" title="{$ association.created |date:'medium' $}"><small>{$ association.created | relativeDate $}</small></span>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"
                          title="{$ 'as.edit' | translate $}"
                          ng-click="vm.editAssociation(association); $event.stopPropagation();"></span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"
                          title="{$ 'as.delete' | translate $}"
                          ng-click="vm.deleteAssociation(association); $event.stopPropagation();"></span>
                    </div>
                    <h4>{$ association.name $}</h4>
                    <p>
                        {$ association.description $}
                    </p>
                    <p>
                        {$ 'as.leaguesCount' | translate $} {$ association.leagues.length $}
                    </p>
                </div>
                <form name="editForm"
                      ng-if="vm.isEditing && (vm.editedAssociation.id == association.id)"
                      ng-submit="vm.confirmEditAssociation()">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               name="name"
                               placeholder="{$ 'as.name' | translate $}"
                               ng-required="true"
                               ng-model="vm.editedAssociation.name">
                    </div>
                    <div class="form-group">
                        <p class="text-danger">
                            <span ng-show="editForm.name.$invalid">{$ 'as.name.invalid' | translate $}</span>&nbsp;
                        </p>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control"
                                  placeholder="{$ 'as.desc' | translate $}"
                                  name="description"
                                  rows="4"
                                  ng-maxlength="100"
                                  ng-model="vm.editedAssociation.description">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <p class="text-danger">
                            <span ng-show="editForm.description.$invalid">{$ 'as.desc.invalid' | translate $} </span>&nbsp;
                        </p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg"
                                type="submit"
                                ng-disabled="editForm.$invalid">{$ 'as.edit' | translate $}</button>
                        <button class="btn btn-default btn-lg"
                                id="cancelButton"
                                ng-click="vm.cancelEdit(); $event.stopPropagation();">{$ 'as.cancel' | translate $}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col col-xs-6 col-sm-4 col-md-3">
            <div class="association new">
                <a ng-click="vm.addNewAssociation()" ng-hide="vm.isCreating">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
                <form name="createForm"
                      ng-if="vm.isCreating"
                      ng-submit="vm.createAssociation()">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               name="name"
                               placeholder="{$ 'as.name' | translate $}"
                               ng-required="true"
                               ng-model="vm.newAssociation.name">
                    </div>
                    <div class="form-group">
                        <p class="text-danger">
                            <span ng-show="createForm.name.$invalid && createForm.name.$touched">{$ 'as.name.invalid' | translate $}</span>&nbsp;
                        </p>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control"
                                  placeholder="{$ 'as.desc' | translate $}"
                                  name="description"
                                  rows="4"
                                  ng-maxlength="100"
                                  ng-model="vm.newAssociation.description">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <p class="text-danger">
                            <span ng-show="createForm.description.$invalid">{$ 'as.desc.invalid' | translate $}</span>&nbsp;
                        </p>
                    </div>
                    <div class="form-group">
                        <button ng-disabled="createForm.$invalid"
                                class="btn btn-primary btn-lg" type="submit">{$ 'as.add' | translate $}</button>
                        <button class="btn btn-default btn-lg" type="reset"
                                id="cancelButton"
                                ng-click="vm.cancel()">{$ 'as.cancel' | translate $}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
-->
<md-content flex layout-padding>
    <md-grid-list md-row-height="300px" md-gutter="10px" md-cols="4" md-cols-md="2" md-cols-sm="2" md-cols-xs="1">
        <md-grid-tile md-colspan="1" md-rowspan="1"
                     ng-repeat="association in vm.associations">
            <md-card flex class="association">
                <md-card-title>
                    <md-card-title-text>
                        <span editable-text="association.name"
                              buttons="no"
                              class="md-headline">{$ association.name $}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p editable-textarea="association.description"
                       buttons="no">
                        {$ association.description $}
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Delete">
                        <span class="material-icons">delete</span>
                    </md-button>
                </md-card-actions>
            </md-card>
        </md-grid-tile>
        <!-- Add new association -->
        <md-grid-tile md-colspan="1" md-rowspan="1">
            <md-card flex class="association new">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            Add new association
                        </span>
                    </md-card-title-text>
                </md-card-title>

            </md-card>
        </md-grid-tile>
    </md-grid-list>


</md-content>
