<md-content flex layout-padding>
    <md-grid-list md-row-height="300px" md-gutter="10px" md-cols="4" md-cols-md="2" md-cols-sm="2" md-cols-xs="1">
        <md-grid-tile md-colspan="1" md-rowspan="1"
                     ng-repeat="association in vm.associations">
            <md-card flex
                     ui-sref="main.asscns.detail({'id': association.id})"
                     class="association pointer">
                <md-card-title>
                    <md-card-title-text layout="row" layout-align="space-between">
                        <span editable-text="association.name"
                              buttons="no"
                              blur="submit"
                              e-form="editNameForm"
                              onshow="vm.storeAsscn(association)"
                              ng-click="$event.stopPropagation()"
                              onaftersave="vm.editAssociation(association); $event.stopPropagation()"
                              class="md-headline">
                                {$ association.name $}
                        </span>
                        <md-button class="md-icon-button"
                                   aria-label="Edit"
                                   ng-hide="editNameForm.$visible"
                                   ng-click="editNameForm.$show(); $event.stopPropagation()" >
                            <md-tooltip md-direction="bottom" md-delay="1500">
                                {$ "as.clickEdit" | translate $}
                            </md-tooltip>
                            <span class="material-icons">mode_edit</span>
                        </md-button>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        <md-tooltip md-delay="1500" md-direction="top" ng-show="association.leaguesNames">
                            {$ association.leaguesNames $}
                        </md-tooltip>
                        Leagues: {$ association.leagues.length $}
                    </p>
                    <p editable-textarea="association.description"
                       buttons="no"
                       blur="submit"
                       e-form="editDescriptionForm"
                       onshow="vm.storeAsscn(association)"
                       onaftersave="vm.editAssociation(association)">
                            {$ association.description $}
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <span>
                        <md-tooltip md-direction="top" md-delay="500">
                            {$ 'as.created' | translate $} {$ association.created |date:'medium' $}
                        </md-tooltip>
                        {$ association.created | relativeDate $}
                    </span>
                    <md-button class="md-icon-button"
                               aria-label="Edit"
                               ng-hide="editDescriptionForm.$visible"
                               ng-click="editDescriptionForm.$show(); $event.stopPropagation()" >
                        <md-tooltip md-direction="bottom" md-delay="1500">
                            {$ "as.clickEdit" | translate $}
                        </md-tooltip>
                        <span class="material-icons">mode_edit</span>
                    </md-button>
                    <md-button class="md-icon-button"
                               aria-label="Cancel"
                               ng-show="editDescriptionForm.$visible"
                               ng-click="editDescriptionForm.$cancel(); $event.stopPropagation()" >
                        <md-tooltip md-direction="bottom" md-delay="1500">
                            {$ "as.cancel" | translate $}
                        </md-tooltip>
                        <span class="material-icons">cancel</span>
                    </md-button>
                    <md-button class="md-icon-button"
                               aria-label="{$ 'as.delete' | translate $}"
                               ng-click="vm.deleteAssociation(association); $event.stopPropagation()">
                        <md-tooltip md-direction="top" md-delay="500">
                            {$ "as.delete" | translate $}
                        </md-tooltip>
                        <span class="material-icons">delete</span>
                    </md-button>
                </md-card-actions>
            </md-card>
        </md-grid-tile>
        <!-- Add new association -->
        <md-grid-tile md-colspan="1" md-rowspan="1">
            <md-card flex class="association new">
                <span class="material-icons add" ng-click="vm.addNewAssociation()" ng-hide="vm.isAdding">note_add</span>
                <div ng-show="vm.isAdding">
                    <md-card-title>
                        <md-card-title-text>
                            <input type="text"
                                   class="editable-input"
                                   placeholder="{$ 'as.name' | translate $}"
                                   ng-model="vm.newAssociation.name">
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            &nbsp;
                        </p>
                        <form class="editable-wrap editable-textarea">
                        <textarea class="editable-input"
                                  placeholder="{$ 'as.desc' | translate $}"
                                  ng-model="vm.newAssociation.description">

                        </textarea>
                            </form>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button" aria-label="Cancel" ng-click="vm.cancel()">
                            <span class="material-icons">highlight_off</span>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Add" ng-click="vm.createAssociation()">
                            <md-tooltip md-direction="top" md-delay="500">
                                {$ "as.add" | translate $}
                            </md-tooltip>
                            <span class="material-icons">done</span>
                        </md-button>
                    </md-card-actions>
                </div>
            </md-card>
        </md-grid-tile>
    </md-grid-list>


</md-content>
