<div class="container-fluid">
    <div class="row" ng-show="vm.associationsLoaded">
        <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="association in vm.associations">
            <div class="association">
                <div class="control">
                    <span class="glyphicon glyphicon-edit"aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove"aria-hidden="true"></span>
                </div>
                <h4>{$ association.name $}</h4>
                <p>
                    {$ association.description $}
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="association new">
                <a ng-click="vm.addNewAssociation()" ng-hide="vm.isCreating">
                    <h4>
                        Create Association
                    </h4>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
                <form ng-if="vm.isCreating" ng-submit="vm.createAssociation()">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Association name"
                               ng-required="true"
                               ng-model="vm.newAssociation.name">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control"
                                  placeholder="Enter description here"
                                  rows="5"
                                  ng-maxlength="100"
                                  ng-model="vm.newAssociation.description">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg" type="submit">Add</button>
                        <button class="btn btn-default btn-lg" type="reset"
                                id="cancelButton"
                                ng-click="vm.cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
